// ==============================
// LAYOUT
// ==============================

.container {
	width:90%;
	max-width:1200px;
	margin:0 auto;
}

pre {
	padding:$sp-gutter/2 $sp-gutter/2;
}

// ==============================
// HEADER
// ==============================

.global-header {
	padding:$sp-gutter*4 0 $sp-gutter*2;
}

// ==============================
// FOOTER
// ==============================

.global-footer {
	padding:$sp-gutter*2 0 $sp-gutter;
}

// ==============================
// CONTENT
// ==============================

.rule {
	padding:$sp-gutter*2 0 $sp-gutter;
}
