// ==============================
// FONTS
// ==============================

$font-headers:'Philosopher', sans-serif;
$font-body:'Muli', sans-serif;
$font-code:'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;

// ==============================
// COLORS
// ==============================

$clr-text:#191716;
// $clr-background:#dccca3;
// $clr-background:#ffead0;
$clr-background:#eaeaea;

$clr-css:lighten(#1985a1, 5%);
$clr-html:#cf5c36;
$clr-javascript:lighten(#008148, 5%);

// ==============================
// SPACING
// ==============================

$sp-gutter:24px;
$sp-radius:6px;
