/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License:none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display:block;
}
body {
	line-height:1;
}
ol, ul {
	list-style:none;
}
blockquote, q {
	quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content:'';
	content:none;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}


/************************************
* FONTS
************************************/

/*@import url(http://fonts.googleapis.com/css?family=Philosopher:400,700|Muli:300,400,300italic);*/

/* font-family: 'Philosopher', sans-serif; */
/* font-family: 'Muli', sans-serif; */

/************************************
* BASE STYLES
************************************/

h1,
h2,
h3,
h4 {
	font-family:'Philosopher', sans-serif;
	font-weight:700;
}

h1 {
	margin:0 0 24px;
	font-size:48px;
	font-size:3rem;
	line-height:3.75rem;
}

h2 {
	margin:0 0 12px;
	font-size:36px;
	font-size:2.25rem;
	line-height:1;
}

h3 {
	margin:0;
	font-size:24px;
	font-size:1.5rem;
	line-height:1;
}

h4 {
	margin:0;
	font-size:18px;
	font-size:1.125rem;
	line-height:1;
}

p, li, blockquote {
	font-family:'Muli', sans-serif;
	font-size:18px;
	font-size:1.125rem;
	line-height:1.5rem;
	font-weight:300;
}

blockquote, em {
	font-style:italic;
}

strong {
	font-weight:400;
}

small {
	font-size:12px;
	font-size:.75rem;
}

code {
	font-family:'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
	font-size:inherit;
}

pre > code {
	font-size:18px;
	font-size:1.125rem;
}

p, ol, ul, blockquote, pre {
	margin:0 0 24px;
}

/************************************
* LAYOUT
************************************/

.container {
	width:90%;
	max-width:1200px;
	margin:0 auto;
}
